.legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-colorbox {
    border: 1px solid black;
}

.legend-text {
    margin-left: 2px;
    margin-right: 1rem;
    user-select: all;
}
