@if(Titles is not null)
{
    <g>
        <foreignObject x="0" y="@(Height-20)" width="@Width" height="20">
            <div class="legend-container">
                @foreach(var title in Titles)
                {
                    <div class="legend-colorbox" style="background: @title.color"></div>
                    <div class="legend-text">@title.title</div>
                }
            </div>
        </foreignObject>
    </g>
}

@code {
    [Parameter] [EditorRequired] public double Width { get; set; }
    [Parameter] [EditorRequired] public double Height { get; set; }
    [Parameter] [EditorRequired] public IEnumerable<(string title, string color)>? Titles { get; set; }
}
