@page "/piechart"

<PageTitle>Line Chart</PageTitle>

<PieChart Data="data" Title="Pie Chart" Width=600 FontSize="10px" FontColor="rgb(40,40,40)" EdgeThickness="0.5"/>

<div class="d-flex justify-content-center mb-4">
    <button class="btn btn-primary mx-2" @onclick="MovePoints" disabled="@movePoints">Randomize values</button>
    <button class="btn btn-danger mx-2" @onclick="CancelMove" disabled="@(!movePoints)">Stop randomize</button>
</div>