@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata-Regular.ttf);
}

.chart {
    margin-bottom: 2rem;
}

.monospaced {
    font-family: Inconsolata;
}

.tooltip-text {
    font-size: 10px;
}

.data-bar {
    ry: 2;
    transition: ease-in-out 0.2s;
}

    .data-bar:hover {
        filter: brightness(75%);
        transition: ease-in-out 0.1s;
    }

.bar-animation {
    animation: bar-transform 0.8s ease-out;
}

@keyframes bar-transform {
    0% {
        transform: scaleY(10%) translateY(100%);
    }

    100% {
        transform: scaleY(100%) translateY(0);
    }
}