@inject ExampleJsInterop JsInterop

<div class="my-component">
    This component is defined in the <strong>BlazorCharts</strong> library.
    <button class="btn btn-primary" @onclick="Prompt">Prompt</button>
</div>

@if (!string.IsNullOrEmpty(response))
{
    <p>@response</p>
}

@code {
    private string? response;

    private async Task Prompt()
    {
        response = await JsInterop.Prompt("Hello from Blazor");
    }
}
