.chart {
    margin-bottom: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dataline {
    animation: line-animate 0.8s ease-out;
    transition: ease-in-out 0.1s;
    fill: none;
}

    .dataline:hover {
        filter: brightness(75%) drop-shadow(0 0 3px black);
        transition: ease-in-out 0.1s;
    }

@keyframes line-animate {
    0% {
        transform: scaleY(10%) translateY(80%);
    }

    100% {
        transform: scaleY(100%) translateY(0);
    }
}
