.chart {
    margin-bottom: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data-label {
    pointer-events: none;
    text-anchor: middle;
}

.data-item {
    transition: ease-in-out 0.2s;
}

    .data-item:hover {
        filter: drop-shadow(0 0 3px rgba(0,0,0,0.80));
        transition: ease-in-out 0.1s;
    }

.pie-animate {
    animation: pie-transform 0.8s ease-out;
}

@keyframes pie-transform {
    0% {
        transform: scaleY(10%) translateY(100%);
    }

    100% {
        transform: scaleY(100%) translateY(0);
    }
}
