.chart {
    margin-bottom: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.datapoint {
    animation: scatter-animate 0.8s ease-out;
    transition: ease-in-out 0.1s;
}

    .datapoint:hover {
        filter: brightness(50%);
        transition: ease-in-out 0.1s;
    }

@keyframes scatter-animate {
    0% {
        transform: scaleY(10%) translateY(100%);
    }

    100% {
        transform: scaleY(100%) translateY(0);
    }
}
