.datapoint {
    animation: kaboom 0.8s ease-out;
    fill: red;
    transition: ease-in-out 0.2s;
}

    .datapoint:hover {
        fill: darkred;
        transition: ease-in-out 0.2s;
    }

.scatter-tooltip {
    fill: rgb(240, 240, 240);
    stroke-width: 1;
    stroke: rgba(0,0,0,0.9);
}

.tooltip-container {
    display: inline-block;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px 5px;
}

.tooltip-text {
    margin: 0 4px;
}

@keyframes kaboom {
    0% {
        transform: translateY(90%);
    }

    100% {
        transform: translateY(0);
    }
}
